@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height:100%;
  width:100%;
}

.text-shadow-strong {
  text-shadow: 6px 6px 5px rgba(95, 95, 95, 0.5);
}

